:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-color: #3e57d0;
  --hover-color: #0071F2;
  --font-color: #333;
}
.font-bold {
  font-weight: 800px !important;
}
.heroFont {
  font-size: 35px;
}
.heroFont-color {
  color: var(--primary-color);
}
.hero-text {
  display: flex;
  align-items: center;
}
.background-image {
  background-image: url(./Image/home-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-section {
  padding: 50px 0px;
}
.paddingTopBottom {
  padding: 100px 0px;
}
.service-card {
  border-radius: 10px;
  height: 400px;
}
.service-card1 {
  background-color: #f8f6f4;
}
.service-card2 {
  background-color: #e3f4f4;
}
.service-card3 {
  background-color: #dbdfaa;
}
.service-card4 {
  background-color: #f8e8ee;
}
.service-card5 {
  background-color: #dfffd8;
}
.service-card6 {
  background-color: #f5efe6;
}
.aboutText {
  display: flex;
  align-items: center;
}
.aboutUs {
  background-color: #fbf8f1;
}
.contactLeftBG {
  background-color: #0071f2;
  border-radius: 10px 0 0px 10px;
  padding: 20px;
}
.insideContact {
  background-color: #338df5;
  padding: 10px;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
}
.insideContact i {
  font-size: 40px;
  padding: 10px 15px;
  border-radius: 50px;
  margin-right: 10px;
  background-color: #0071f2;
  transform: .7s;
}
.insideContact .fa-envelope {
  padding: 10px 10px;
}
.insideContact .fa-phone {
  padding: 12px 10px;
}
.insideContact .fa-clock{
  padding: 10px 10px;
}
.hoverEffect1:hover .fa-location-dot {
  background-color: white;
  color: #0071f2;
  transition: .5s;
}
.hoverEffect2:hover .fa-envelope {
  background-color: white;
  color: #0071f2;
  transition: .5s;
}
.hoverEffect3:hover .fa-phone {
  background-color: white;
  color: #0071f2;
  transition: .5s;
}
.hoverEffect4:hover .fa-clock{
  background-color: white;
  color: #0071f2;
  transition: .5s;
}
.contactText{
  margin-top: 25px;
}
.contactText h5{
  /* margin-bottom: 0; */
  line-height: 0.2
}
.form-control{
  padding: 10px !important;
  border-radius: 0px !important;
}
.contactFrom{
  background-color: #FFFFFF;
  border-radius: 0px 10px 10px 0px;
}
.contactButton{
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 40px;
  transform: .7s;
  text-align: center;
}
.contactButton:hover{
  background-color: var(--hover-color);
  /* background-color: #0071F2; */
}
.footer{
  background-color: var(--hover-color);
  color: #FFFFFF;
}
.footerList{
  list-style: none;
  margin: 0;
  padding: 0;
}
.footerList a{
  text-decoration: none;
  color: white;
}
.footerList a:hover{
  color: red;
}
.copyBackground{
  background-color: var(--primary-color);
  color: white;
  padding: 40px 0;
}
.copyBackground p{
  margin: 0;
}
.makeUsDiff h2{
  text-shadow: 0 2px 5px rgba(0,0,0,0.5);
  position: relative;
}
.headingUnderline h2{
  text-shadow: 0 2px 5px rgba(0,0,0,0.5);
  position: relative;
}
.headingUnderline h2::after{
  content: '';
  position: absolute;
  width: 50px;
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 5px solid var(--primary-color);
}
.headingUnderline2 h5{
  position: relative;
}
.headingUnderline2 h5::after{
  content: '';
  position: absolute;
  width: 50px;
  bottom: -110%;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 5px solid var(--primary-color);
}
.backgroundDiff{
  background-image: url(./Image/hail.png);
  background-repeat: no-repeat;
  background-size: 100px;
  bottom: 0;
  position: relative;
  background-position-x: right;
  background-position-y: bottom;
}
.backgroundDiff2{
  background-image: url(./Image/perspective.png);
  background-repeat: no-repeat;
  background-size: 100px;
  bottom: 0;
  position: relative;
  background-position-x: right;
  background-position-y: bottom;
}
.backgroundDiff3{
  background-image: url(./Image/tornado.png);
  background-repeat: no-repeat;
  background-size: 100px;
  bottom: 0;
  position: relative;
  background-position-x: right;
  background-position-y: bottom;
}
.backgroundDiff4{
  background-image: url(./Image/qr-code.png);
  background-repeat: no-repeat;
  background-size: 100px;
  bottom: 0;
  position: relative;
  background-position-x: right;
  background-position-y: bottom;
}
.backgroundDiff5{
  background-image: url(./Image/wind.png);
  background-repeat: no-repeat;
  background-size: 100px;
  bottom: 0;
  position: relative;
  background-position-x: right;
  background-position-y: bottom;
}
.backgroundDiff6{
  background-image: url(./Image/wind2.png);
  background-repeat: no-repeat;
  background-size: 100px;
  bottom: 0;
  position: relative;
  background-position-x: right;
  background-position-y: bottom;
}
img.iconBackground {
  border: 4px solid #fffbc1;
  background-color: #fffbc1;
  border-radius: 50%;
  padding: 8px;
  transition: .5s;
}
img.iconBackground:hover{
  border: 4px solid #fffbc1;
  background-color: #FFFFFF;
  cursor: pointer;
}

/* testimonial css */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* text-align: center; */
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
}
.testimonial{
  background-image: url(../src/Image/quata.png);
  background-repeat: no-repeat;
  background-size: 100px;
  bottom: 0;
  position: relative;
  background-position-x: right;
  background-position-y: bottom;
  z-index: 999;
}
.swiper-slide img {
  display: block;
  width: 20%;
  /* height: 100%; */
  object-fit: cover;
}

.swiper-slide {
  width: 80%;
}

.swiper-slide:nth-child(2n) {
  width: 60%;
}

.swiper-slide:nth-child(3n) {
  width: 40%;
}

@media (max-width: 991px) {
  .hero-text {
    margin-top: 10px !important;
    text-align: center;
  }
  .footer{
    text-align: center;
  }
  .section{
    margin-top: 20px !important;
    border-bottom: 1px solid var(--primary-color);
  }
  .displayNone{
    display: none;
  }
  /* .iconBackground{
    width: 30%;
  } */
}
@media (max-width: 914px) {
  .heroFont {
    font-size: 24px;
  }
}
