:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-color: #3e57d0;
  --hover-color: #0071f2;
  --font-color: #333;
}

.toast-box-shadow {
  -webkit-box-shadow: 4px 4px 12px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 12px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 12px -3px rgba(0, 0, 0, 0.75);
}

.font-bold {
  font-weight: 800px !important;
}

.heroFont {
  font-size: 35px;
}

.heroFont-color {
  color: var(--primary-color);
}

.hero-text {
  display: flex;
  align-items: center;
}

.background-image {
  background-image: url(../src/Image/common/home-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-section {
  padding: 50px 0px;
}

.paddingTopBottom {
  padding: 100px 0px;
}

.service-card {
  border-radius: 10px;
  height: 400px;
}

.service-card1 {
  background-color: #f8f6f4;
}

.service-card2 {
  background-color: #e3f4f4;
}

.service-card3 {
  background-color: #dbdfaa;
}

.service-card4 {
  background-color: #f8e8ee;
}

.service-card5 {
  background-color: #dfffd8;
}

.service-card6 {
  background-color: #f5efe6;
}

.aboutText {
  display: flex;
  align-items: center;
}

.aboutUs {
  background-color: #fbf8f1;
}

.aboutusList li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.aboutusList li p {
  margin-bottom: 0px;
  padding-left: 8px;
}

.aboutusList img {
  width: 14px;
  transform: rotate(3.142rad);
}

.contactLeftBG {
  background-color: #0071f2;
  border-radius: 10px 0 0px 10px;
  padding: 20px;
}

.insideContact {
  background-color: #338df5;
  padding: 10px;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
}

.insideContact .icon {
  font-size: 40px;
  padding: 10px 20px;
  border-radius: 50px;
  margin-right: 10px;
  background-color: #0071f2;
  transform: 0.7s;
}

.icon svg {
  margin-top: -5px;
}

.icon-bg {
  background-color: #95978552;
  color: #3929bb;
  /* border: 2px solid #3929bb; */
}

.hoverEffect:hover .icon {
  background-color: white;
  color: #0071f2;
  transition: 0.5s;
}

.contactText {
  margin-top: 25px;
}

.contactText h5 {
  /* margin-bottom: 0; */
  line-height: 0.2;
}

.form-control {
  padding: 10px !important;
  border-radius: 0px !important;
}

.contactFrom {
  background-color: #ffffff;
  border-radius: 0px 10px 10px 0px;
}

/* .contactButton {
  background-color: var(--primary-color);
  border: none;
  color: white;
  transform: 0.7s;
  text-align: center;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
} */
.contactButtonDisabled {
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 40px;
  transform: 0.7s;
  text-align: center;
}

/* .contactButton:hover { */
/* background-color: var(--hover-color); */
/* background-color: #0071F2; */
/* } */
.btn2 {
  background-color: var(--background-color);
  color: #222;
  /* padding: 0.5em 1em; */
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
  --background-color: #e3e3e300;
  --border-size: 2px;
  --accent-color: #0af;
}

.btn2.btn-border-underline::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--border-size);
  background-color: var(--accent-color);
  transition: transform 300ms ease-in-out;

  transform: scaleX(0);
}

.btn2.btn-border-underline:hover::before,
.btn2.btn-border-underline:focus::before {
  transform: scaleX(1);
}

.contactButton {
  background-color: var(--background-color);
  color: #222;
  /* padding: 0.5em 1em; */
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;

  padding: 10px 20px;
  --background-color: #e3e3e3;
  --border-size: 2px;
  --accent-color: #0af;
}

.contactButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: #000;

  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.contactButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: var(--accent-color);

  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.contactButton:hover::before,
.contactButton:focus::before {
  transform: scaleX(1);
}

.contactButton {
  transition: color 300ms ease-in-out;
  z-index: 1;
}

.contactButton:hover,
.contactButton:focus {
  color: white;
}

.footer {
  background-color: var(--hover-color);
  color: #ffffff;
}

.footerList {
  list-style: none;
  margin: 0;
  padding: 0;
}



.footerList a {
  text-decoration: none;
  color: white;
  margin-bottom: 5px;
  padding: 4px 10px;
  display: inline-block;
  border-radius: 2px;
  transition: all 0.5s ease;
}
.footerList a:hover{
  background-color: var(--primary-color);
}



.footerList a:hover {
  cursor: pointer;
  color: #ffffff;
}

.copyBackground {
  background-color: var(--primary-color);
  color: white;
  padding: 40px 0;
}

.copyBackground p {
  margin: 0;
}

.makeUsDiff h2 {
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  position: relative;
}

.headingUnderline h2 {
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  position: relative;
}

.authorContainer {
  display: flex;
  align-items: center;
}

.headingUnderline2 h5 {
  position: relative;
}

.headingUnderline2 h5::after {
  content: "";
  position: absolute;
  width: 50px;
  bottom: -40%;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 5px solid var(--primary-color);
}

.backgroundDiff {
  background-image: url(../src/Image/common/hail.png);
  background-repeat: no-repeat;
  background-size: 100px;
  bottom: 0;
  position: relative;
  background-position-x: right;
  background-position-y: bottom;
}

.backgroundDiff2 {
  background-image: url(../src/Image/common/perspective.png);
  background-repeat: no-repeat;
  background-size: 100px;
  bottom: 0;
  position: relative;
  background-position-x: right;
  background-position-y: bottom;
}

.backgroundDiff3 {
  background-image: url(../src/Image/common/tornado.png);
  background-repeat: no-repeat;
  background-size: 100px;
  bottom: 0;
  position: relative;
  background-position-x: right;
  background-position-y: bottom;
}

.backgroundDiff4 {
  background-image: url(../src/Image/common/qr-code.png);
  background-repeat: no-repeat;
  background-size: 100px;
  bottom: 0;
  position: relative;
  background-position-x: right;
  background-position-y: bottom;
}

.backgroundDiff5 {
  background-image: url(../src/Image/common/wind.png);
  background-repeat: no-repeat;
  background-size: 100px;
  bottom: 0;
  position: relative;
  background-position-x: right;
  background-position-y: bottom;
}

.backgroundDiff6 {
  background-image: url(../src/Image/common/wind2.png);
  background-repeat: no-repeat;
  background-size: 100px;
  bottom: 0;
  position: relative;
  background-position-x: right;
  background-position-y: bottom;
}

.iconBackground {
  background-color: #fffbc1;
  border: 4px solid #fffbc1;
  transition: 0.5s;
  border-radius: 50%;
  width: 130px; 
  height: 130px;
}

.iconBackground:hover {
  border: 4px solid #fffbc1;
  background-color: #ffffff;
  cursor: pointer;
}

.svg-container {
  position: relative;
}

.svg-container::before {
  content: url("../src/Image/common/underLine.svg");
  /* Additional CSS properties for the pseudo-element */
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 100%;
  /* height: 100px; */
}

/* testimonial css */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* text-align: center; */
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
}

/* .testimonial{
  background-image: url(../../public/Image/quata.png);
  background-repeat: no-repeat;
  background-size: 100px;
  bottom: 0;
  position: relative;
  background-position-x: right;
  background-position-y: bottom;
  z-index: 1;
} */
.swiper-slide img {
  display: block;
  width: 20%;
  /* height: 100%; */
  object-fit: cover;
}

.swiper-slide {
  width: 60%;
}

.swiper-slide:nth-child(1n) {
  width: 60%;
}

.swiper-slide:nth-child(2n) {
  width: 60%;
}

.swiper-slide:nth-child(3n) {
  width: 60%;
}

.commentInfo {
  display: flex;
  justify-content: flex-end;
  /* align-items: flex-start; */
}

.commentInfo h6 {
  margin: 10px 0 0 0;
}

/* #content {
  max-width: 600px;
  margin: 25vh auto;
} */

.testimonial blockquote {
  margin: 10px 10px 0;
  background: #efefef;
  padding: 20px 40px;
  position: relative;
  border: none;
  border-radius: 8px;
  font-style: italic;
}

.testimonial blockquote:before,
.testimonial blockquote:after {
  content: "\201C";
  position: absolute;
  font-size: 80px;
  line-height: 1;
  color: #757f9a;
  font-style: normal;
}

.testimonial blockquote:before {
  top: 0;
  left: 10px;
}

.testimonial blockquote:after {
  content: "\201D";
  right: 10px;
  bottom: -0.5em;
}

.testimonial div {
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #efefef;
  margin: 0 0 0 60px;
}

.testimonial p {
  margin: 8px 0 0 20px;
  text-align: left;
  color: #c20606;
}

/* splick testimonial */
figure.snip1157 img {
  max-width: 100%;
  vertical-align: middle;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 5px 0 0 25px;
}

figure.snip1157 .author {
  margin-left: 10px;
  margin-top: 10px;
}

figure.snip1157 .author h6 {
  opacity: 0.9;
  margin: 0;
  font-weight: 900;
}

figure.snip1157 .author span {
  font-weight: 600;
  font-size: small;
  text-transform: none;
}

.careenSection {
  padding-top: 40px;
  margin-bottom: 50px;
}

.careerHero {
  background-image: url(../src/Image/common/career.jpg);
  background-repeat: no-repeat;
  background-position: fixed;
  /* background-size: 100% 400px; */
  background-attachment: fixed;
  /* background-size: cover; */
  margin: 50px 0;
  height: 410px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.text {
  /* margin-top: 40%; */
  background-color: rgba(0, 0, 0, 0.5);
  height: 410px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 72px;
  text-align: center;
}
.careerWraper p {
  font-weight: 600;
}
/* ScrollToTopButton.css */
.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #007bff; /* You can change the button's background color */
  color: #fff; /* You can change the button's text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.scroll-to-top-button:hover {
  background-color: #0056b3; /* You can change the button's background color on hover */
}
.scrollUp {
  font-weight: 900;
}
/* footer social icon hover effect  */

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  position: relative;
  /* width: 500px; */
  padding: 10px 0;
  margin: 0 20px;
  border-radius: 50px;

  /* background: rgba(255, 255, 255, 0.5); */
}

.holder {
  position: relative;
  list-style: none;
}
.holder a {
  text-decoration: none;
  color: white;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 2em;
  padding: 12px 10px 6px 10px;
  border-radius: 50%;
  font-size: 1.8em;
  transition: all 0.5s ease;
  border: 2px solid #fff;
  margin-left: 4px;
}

.tooltip {
  position: absolute;
  padding: 5px 20px;
  top: 0%;
  left: 0%;
  transform: translate(-25%, -35px);
  font-size: 1em;
  border-radius: 50px;
  color: #fff;
  z-index: 1;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  opacity: 0;
}

.tooltip::before {
  content: "";
  display: flex;
  position: absolute;
  width: 15px;
  height: 15px;
  transform: translate(2rem, 15px) rotate(45deg);
  z-index: -2;
  outline: none;
  border: none;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.twitter .tooltip::before,
.reddit .tooltip::before {
  transform: translate(1.7rem, 15px) rotate(45deg);
}

.github .tooltip::before {
  transform: translate(1.6rem, 15px) rotate(45deg);
}

.icon:hover ~ .tooltip {
  transform: translate(-25%, -60px);
  opacity: 1;
}

.icon:hover {
  color: #fff;
}

.facebook .icon:hover,
.facebook .icon:hover ~ .tooltip,
.facebook .icon:hover ~ .tooltip::before {
  background: #3b5999;
  border: 2px solid #3b5999;
}

.twitter .icon:hover,
.twitter .icon:hover ~ .tooltip,
.twitter .icon:hover ~ .tooltip::before {
  background: #46c1f6;
  border: 2px solid #46c1f6;
}

.instagram .icon:hover,
.instagram .icon:hover ~ .tooltip,
.instagram .icon:hover ~ .tooltip::before {
  background: #e1306c;
  border: 2px solid #e1306c;
}

.github .icon:hover ~ .tooltip,
.github .icon:hover ~ .tooltip::before,
.github .icon:hover {
  background: #333;
  border: 2px solid #333;
}

.reddit .icon:hover,
.reddit .icon:hover ~ .tooltip,
.reddit .icon:hover ~ .tooltip::before {
  background: #ff4500;
}
@media (max-width: 991px) {
  .hero-text {
    margin-top: 10px !important;
    text-align: center;
  }

  .footer {
    text-align: center;
  }

  .section {
    margin-top: 20px !important;
    border-bottom: 1px solid var(--primary-color);
  }

  .displayNone {
    display: none;
  }
  .text {
    font-size: 42px;
  }
}

@media (max-width: 914px) {
  .heroFont {
    font-size: 24px;
  }
}
